<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="test, wireframe, product">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../styles/index.css" rel="stylesheet">
</head>
<body>
<section>
    <h1>Let's count some vowels!</h1>
    <form>
    <lable for="text">Start Search</lable>
    <textarea id="text"></textarea>
    <button id="btnSubmit" type="button">Submit</button>
    </form>

    <div id="results"></div>
</section>



<script src="../scripts/index.js"></script>
</body>
</html>